@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    background-color: #3864b3;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.weather-app {
    background: black;
    padding: 25px;
    margin: 30px auto;
    border-radius: 15px;
    max-width: 600px;
}

.search-form{
    font-size: 16px;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.bigrighticon {
    font-size: 145px;
    color: rgba(255, 255, 255, 0.7);
}

.ultrabigtemp {
    font-size: 45px;
    color: rgba(255, 255, 255, 0.9);
}

.temp-unit {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
    margin-right: 0px;
}

.dash {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
    margin: 0px;
}

h1 {
    font-size: 27px;
    color: rgba(255, 255, 255, 0.8);
    margin: 2px;
}

h2 {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

.hourlytempwholesection {
    text-align: center;
}

.weeklytempfullsection {
    font-size: 17px;
    line-height: 1.7;
}

.hourlytimemini,
.feelslike,
.daysoftheweekicons,
.daysoftheweekfar {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.4);
}

.hourlytempmini,
.sunny {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
}

.daysoftheweek,
.daysoftheweekcel {
    color: rgba(255, 255, 255, 0.8);
}

.daysoftheweek {
    margin-left: 15px;
}

.daysoftheweekicons {
    margin-left: 19px;
}

.daysoftheweekcel {
    margin-left: -10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}