@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    background-color: #4e78c7;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.weather-app {
    background-color: #3864b3;
    padding: 30px;
    margin: 40px auto;
    border-radius: 10px;
    max-width: 600px;
}

.search-form-input{
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
    width: 77%;
    padding: 4px 10px;
    font-size: 18px;
    margin: 15px 0 15px 10px;
}

.search-form-button{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4px 10px;
    border: 0px;
    border-radius: 5px;
    color: #3864b3;
    margin:0 0 0 2px;
    font-size: 18px;
}

.weather-app-data{
    display: flex;
    justify-content: space-between;
}

.weather-app-icon{
    margin:0px 50px 0 0;
    width: 200px;
    height: 200px;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}


.ultrabigtemp {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.9);
    margin-left: 10px;
}

.temp-unit {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
    margin-right: 0px;
}

.dash {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
    margin: 0px;
}

h1 {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.9);
    margin: 15px 0px 10px 10px;
}

h2 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0px 0px 0px 10px;
}

.weeklytempwholesection {
    text-align: center;
}

.weeklytimemini,
.feelslike{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.4);
}

.weeklytempmini,
.description {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}

.weeklyiconmini{
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
}

.description, .feelslike{
    margin-left: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}